body {
    margin: 0;
    font-family: "Canela Deck", sans-serif;
    background-color: #1A1A1A;
    color: whitesmoke;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 50px;
}

.timer {
    font-size: 90px;
}


.btn-container {
    padding: 20px;
}

button {
    margin: 10px;
    padding: 10px;
    width: 100px;
    border: 0;
    border-radius: 3px;

    color: whitesmoke;
    background-color: #3D4849;
    transition: all 1s;
}
button:hover{
    cursor: pointer;
    background-color: #36454f;
    transform: translateY(-3px);
}