body {
    margin: 0;
    font-family: "Canela Deck", sans-serif;
    color: whitesmoke;
    background: #020024;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

.center {
    display: flex;
    justify-content: center;
}

.header {
    text-align: center;
    font-size: 50px;
}

.text {
    margin: 20px;
}

.btn-item {
    padding: 30px;
    width: 500px;
}


button {
   margin: 20px;
   border: 0;
   width: 150px;
   height: 50px;
   border-radius: 5px;
   background-color: #05C8EC;
   color: whitesmoke;
   transition: all 1s;
}

button:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: #01B7D9;
}