body {
  margin: 0;
  font-family: 'Canela Deck', sans-serif;
  background-color: #121212;
  color: #e0e0e0;
}

.center {
  display: flex;
  justify-content: flex;
  align-items: center;
}

.main-container {
  flex-direction: column;
  margin-top: 20px;
}

h1 {
  text-align: center;
  font-size: 50px;
}

p {
  margin-top: 0;
}

button {
  border: 0;
  border-radius: 3px;
  width: 150px;
  height: 40px;
  margin-bottom: 20px;
  background-color: #444444;
  color: #e0e0e0;
  cursor: pointer;
  transition: all 600ms;
}

button:hover {
  transform: scale(1.1);
}

#equal {
  border: 2px solid #e0e0e0;
  border-radius: 3px;
  padding: 30px;
  margin-top: 10px;
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 20px;
}

.note {
  font-style: italic;
}
