body {
  margin: 0;
  height: 200vh;
  font-family: "Canela Deck", sans-serif;
  background-color: #1e1c1c;
  color: #f1f1f1;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn-container {
  padding: 200px;
  padding-top: 0;
}

h1 {
  padding-bottom: 20px;
  font-size: 130px;
  transition: all 700ms;
}

h1:hover {
  transform: translateX(20px);
}

button {
  cursor: pointer;
  height: 40px;
  width: 150px;

  border: 0;
  border-radius: 5px;

  transition: all 600ms;
}

button:hover {
  transform: scale(1.1);
  background-color: #5f5959;
  color: #f1f1f1;
}

li {
  font-size: 30px;
  padding: 10px;
  list-style: none;
}
